<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/vincent/Desktop/texcollection2014.pdf</key>
	<data>
	Ym9va6gCAAAAAAQQMAAAAGuERQpZAy1vzF8t8pB4zdhnmlYY3sUTuA9UeJTFkWdnsAEA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHZpbmNlbnQABwAAAAEBAABEZXNrdG9wABUA
	AAABAQAAdGV4Y29sbGVjdGlvbjIwMTQucGRmAAAAEAAAAAEGAAAEAAAAFAAAACQAAAA0
	AAAACAAAAAQDAAApEgIAAAAAAAgAAAAEAwAAVcAFAAAAAAAIAAAABAMAAMPABQAAAAAA
	CAAAAAQDAACHCO0AAAAAABAAAAABBgAAbAAAAHwAAACMAAAAnAAAAAgAAAAABAAAQbnS
	Nh8AAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAAAgAAAAAA
	AAAEAAAAAwMAAPgBAAAMAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACCIPToAAAAI
	AAAAAAQAAEG3U4AqAAAAJAAAAAEBAABGM0JGNzZBRS0zMzkwLTM4RDctOTc1QS1GQTA1
	RDE1NDNGQTIYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAA
	AAAAAAABBQAABAAAAAMDAAAACAAowAAAAP7///8BAAAAAAAAAA8AAAAEEAAAVAAAAAAA
	AAAFEAAArAAAAAAAAAAQEAAA1AAAAAAAAABAEAAAxAAAAAAAAAACIAAAkAEAAAAAAAAQ
	IAAAEAEAAAAAAAARIAAARAEAAAAAAAASIAAAJAEAAAAAAAATIAAANAEAAAAAAAAgIAAA
	cAEAAAAAAAAwIAAAnAEAAAAAAAABwAAA9AAAAAAAAAARwAAAFAAAAAAAAAASwAAABAEA
	AAAAAAAQ0AAApAEAAAAAAAA=
	</data>
	<key>/Users/vincent/Documents/formation_latex/Copyright.pdf</key>
	<data>
	Ym9va9QCAAAAAAQQMAAAADvPqoVVrzwFwbQTS6Ys0blU1QxpoN1MPBFuqDWjkBQr3AEA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHZpbmNlbnQACQAAAAEBAABEb2N1bWVudHMA
	AAAPAAAAAQEAAGZvcm1hdGlvbl9sYXRleAANAAAAAQEAAENvcHlyaWdodC5wZGYAAAAU
	AAAAAQYAAAQAAAAUAAAAJAAAADgAAABQAAAACAAAAAQDAAApEgIAAAAAAAgAAAAEAwAA
	VcAFAAAAAAAIAAAABAMAAFbABQAAAAAACAAAAAQDAACZ/ZUAAAAAAAgAAAAEAwAA+mXr
	AAAAAAAUAAAAAQYAAIQAAACUAAAApAAAALQAAADEAAAACAAAAAAEAABBuc/NXAAAABgA
	AAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAADAAAAAAAAAAQAAAAD
	AwAA+AEAAAwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAIIg9OgAAAAgAAAAABAAA
	QbdTgCoAAAAkAAAAAQEAAEYzQkY3NkFFLTMzOTAtMzhENy05NzVBLUZBMDVEMTU0M0ZB
	MhgAAAABAgAAgQAAAAEACADvFwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEF
	AAAEAAAAAwMAAAAIACjAAAAA/v///wEAAAAAAAAADwAAAAQQAABoAAAAAAAAAAUQAADU
	AAAAAAAAABAQAAAAAQAAAAAAAEAQAADwAAAAAAAAAAIgAAC8AQAAAAAAABAgAAA8AQAA
	AAAAABEgAABwAQAAAAAAABIgAABQAQAAAAAAABMgAABgAQAAAAAAACAgAACcAQAAAAAA
	ADAgAADIAQAAAAAAAAHAAAAgAQAAAAAAABHAAAAUAAAAAAAAABLAAAAwAQAAAAAAABDQ
	AADQAQAAAAAAAA==
	</data>
	<key>/Users/vincent/Documents/formation_latex/frame-simple.png</key>
	<data>
	Ym9va9QCAAAAAAQQMAAAADkZ7n1U12DgZKOv1M+KDEYh7PWCIY4KwXVbpA2YuVIa3AEA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHZpbmNlbnQACQAAAAEBAABEb2N1bWVudHMA
	AAAPAAAAAQEAAGZvcm1hdGlvbl9sYXRleAAQAAAAAQEAAGZyYW1lLXNpbXBsZS5wbmcU
	AAAAAQYAAAQAAAAUAAAAJAAAADgAAABQAAAACAAAAAQDAAApEgIAAAAAAAgAAAAEAwAA
	VcAFAAAAAAAIAAAABAMAAFbABQAAAAAACAAAAAQDAACZ/ZUAAAAAAAgAAAAEAwAAJEPs
	AAAAAAAUAAAAAQYAAIQAAACUAAAApAAAALQAAADEAAAACAAAAAAEAABBudDB+wAAABgA
	AAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAADAAAAAAAAAAQAAAAD
	AwAA+AEAAAwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAIIg9OgAAAAgAAAAABAAA
	QbdTgCoAAAAkAAAAAQEAAEYzQkY3NkFFLTMzOTAtMzhENy05NzVBLUZBMDVEMTU0M0ZB
	MhgAAAABAgAAgQAAAAEACADvFwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEF
	AAAEAAAAAwMAAAAIACjAAAAA/v///wEAAAAAAAAADwAAAAQQAABoAAAAAAAAAAUQAADU
	AAAAAAAAABAQAAAAAQAAAAAAAEAQAADwAAAAAAAAAAIgAAC8AQAAAAAAABAgAAA8AQAA
	AAAAABEgAABwAQAAAAAAABIgAABQAQAAAAAAABMgAABgAQAAAAAAACAgAACcAQAAAAAA
	ADAgAADIAQAAAAAAAAHAAAAgAQAAAAAAABHAAAAUAAAAAAAAABLAAAAwAQAAAAAAABDQ
	AADQAQAAAAAAAA==
	</data>
	<key>/Users/vincent/Documents/formation_latex/frame-texworks.png</key>
	<data>
	Ym9va9gCAAAAAAQQMAAAADbem6dJ/oZtY51tflY/ABLCbB3Niv7TmqH7WnwefjN14AEA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHZpbmNlbnQACQAAAAEBAABEb2N1bWVudHMA
	AAAPAAAAAQEAAGZvcm1hdGlvbl9sYXRleAASAAAAAQEAAGZyYW1lLXRleHdvcmtzLnBu
	ZwAAFAAAAAEGAAAEAAAAFAAAACQAAAA4AAAAUAAAAAgAAAAEAwAAKRICAAAAAAAIAAAA
	BAMAAFXABQAAAAAACAAAAAQDAABWwAUAAAAAAAgAAAAEAwAAmf2VAAAAAAAIAAAABAMA
	AAZr7AAAAAAAFAAAAAEGAACIAAAAmAAAAKgAAAC4AAAAyAAAAAgAAAAABAAAQbnRBfIA
	AAAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAAAwAAAAAAAAAE
	AAAAAwMAAPgBAAAMAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACCIPToAAAAIAAAA
	AAQAAEG3U4AqAAAAJAAAAAEBAABGM0JGNzZBRS0zMzkwLTM4RDctOTc1QS1GQTA1RDE1
	NDNGQTIYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
	AAABBQAABAAAAAMDAAAACAAowAAAAP7///8BAAAAAAAAAA8AAAAEEAAAbAAAAAAAAAAF
	EAAA2AAAAAAAAAAQEAAABAEAAAAAAABAEAAA9AAAAAAAAAACIAAAwAEAAAAAAAAQIAAA
	QAEAAAAAAAARIAAAdAEAAAAAAAASIAAAVAEAAAAAAAATIAAAZAEAAAAAAAAgIAAAoAEA
	AAAAAAAwIAAAzAEAAAAAAAABwAAAJAEAAAAAAAARwAAAFAAAAAAAAAASwAAANAEAAAAA
	AAAQ0AAA1AEAAAAAAAA=
	</data>
	<key>/Users/vincent/Downloads/texcollection2014.png</key>
	<data>
	Ym9va6wCAAAAAAQQMAAAAH6ZjVnI3NlgYp7V/St6zJJGp3jHr+Z2eGsvH0YDL9jXtAEA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHZpbmNlbnQACQAAAAEBAABEb3dubG9hZHMA
	AAAVAAAAAQEAAHRleGNvbGxlY3Rpb24yMDE0LnBuZwAAABAAAAABBgAABAAAABQAAAAk
	AAAAOAAAAAgAAAAEAwAAKRICAAAAAAAIAAAABAMAAFXABQAAAAAACAAAAAQDAABYwAUA
	AAAAAAgAAAAEAwAAbALtAAAAAAAQAAAAAQYAAHAAAACAAAAAkAAAAKAAAAAIAAAAAAQA
	AEG5TKslAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAIA
	AAAAAAAABAAAAAMDAAD4AQAADAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAgiD06
	AAAACAAAAAAEAABBt1OAKgAAACQAAAABAQAARjNCRjc2QUUtMzM5MC0zOEQ3LTk3NUEt
	RkEwNUQxNTQzRkEyGAAAAAECAACBAAAAAQAIAO8XAAABAAgAAAAAAAAAAAABAAAAAQEA
	AC8AAAAAAAAAAQUAAAQAAAADAwAAAAgAKMAAAAD+////AQAAAAAAAAAPAAAABBAAAFgA
	AAAAAAAABRAAALAAAAAAAAAAEBAAANgAAAAAAAAAQBAAAMgAAAAAAAAAAiAAAJQBAAAA
	AAAAECAAABQBAAAAAAAAESAAAEgBAAAAAAAAEiAAACgBAAAAAAAAEyAAADgBAAAAAAAA
	ICAAAHQBAAAAAAAAMCAAAKABAAAAAAAAAcAAAPgAAAAAAAAAEcAAABQAAAAAAAAAEsAA
	AAgBAAAAAAAAENAAAKgBAAAAAAAA
	</data>
	<key>/Users/vincent/Movies/Camtasia 2/Temporary Recordings/Rec 09-21-14 2.trec</key>
	<data>
	Ym9vawQDAAAAAAQQMAAAANpu+1zwVtfPTRX/wHWqyiRrzao/H2tUJzwvjKc1RGKZDAIA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHZpbmNlbnQABgAAAAEBAABNb3ZpZXMAAAoA
	AAABAQAAQ2FtdGFzaWEgMgAAFAAAAAEBAABUZW1wb3JhcnkgUmVjb3JkaW5ncxMAAAAB
	AQAAUmVjIDA5LTIxLTE0IDIudHJlYwAYAAAAAQYAAAQAAAAUAAAAJAAAADQAAABIAAAA
	ZAAAAAgAAAAEAwAAKRICAAAAAAAIAAAABAMAAFXABQAAAAAACAAAAAQDAADrwAUAAAAA
	AAgAAAAEAwAARCVnAAAAAAAIAAAABAMAAEUlZwAAAAAACAAAAAQDAAB6+OUAAAAAABgA
	AAABBgAAoAAAALAAAADAAAAA0AAAAOAAAADwAAAACAAAAAAEAABBuc9DOgAAABgAAAAB
	AgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAEAAAAAAAAAAQAAAADAwAA
	+AEAAAwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAIIg9OgAAAAgAAAAABAAAQbdT
	gCoAAAAkAAAAAQEAAEYzQkY3NkFFLTMzOTAtMzhENy05NzVBLUZBMDVEMTU0M0ZBMhgA
	AAABAgAAgQAAAAEACADvFwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAAAE
	AAAAAwMAAAAIACjAAAAA/v///wEAAAAAAAAADwAAAAQQAACAAAAAAAAAAAUQAAAAAQAA
	AAAAABAQAAAwAQAAAAAAAEAQAAAgAQAAAAAAAAIgAADsAQAAAAAAABAgAABsAQAAAAAA
	ABEgAACgAQAAAAAAABIgAACAAQAAAAAAABMgAACQAQAAAAAAACAgAADMAQAAAAAAADAg
	AAD4AQAAAAAAAAHAAABQAQAAAAAAABHAAAAUAAAAAAAAABLAAABgAQAAAAAAABDQAAAA
	AgAAAAAAAA==
	</data>
</dict>
</plist>
