<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/vincent/Documents/formation_latex/capsules/frame-complet.png</key>
	<data>
	Ym9vaxwDAAAAAAQQMAAAANI6nAVuuwFpa+7REvCaNWHuwU2BDCwQWI4KsTqMcOu7GAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHZpbmNlbnQACQAAAAEB
	AABEb2N1bWVudHMAAAAPAAAAAQEAAGZvcm1hdGlvbl9sYXRleAAIAAAAAQEAAGNhcHN1
	bGVzEQAAAAEBAABmcmFtZS1jb21wbGV0LnBuZwAAABgAAAABBgAAEAAAACAAAAAwAAAA
	RAAAAFwAAABsAAAACAAAAAQDAAApEgIAAAAAAAgAAAAEAwAAVcAFAAAAAAAIAAAABAMA
	AFbABQAAAAAACAAAAAQDAACZ/ZUAAAAAAAgAAAAEAwAAHZwKAQAAAAAIAAAABAMAAECt
	JwEAAAAAGAAAAAEGAACoAAAAuAAAAMgAAADYAAAA6AAAAPgAAAAIAAAAAAQAAEG6IxEH
	AAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAQAAAAAAAAA
	BAAAAAMDAAD4AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAA
	AAQDAAAAAGgnOgAAAAgAAAAABAAAQbdTgCoAAAAkAAAAAQEAAEYzQkY3NkFFLTMzOTAt
	MzhENy05NzVBLUZBMDVEMTU0M0ZBMhgAAAABAgAAgQAAAAEACADvFwAAAQAIAAAAAAAA
	AAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAACIAAAA
	AAAAAAUQAAAIAQAAAAAAABAQAAA4AQAAAAAAAEAQAAAoAQAAAAAAAAIgAAAEAgAAAAAA
	AAUgAAB0AQAAAAAAABAgAACEAQAAAAAAABEgAAC4AQAAAAAAABIgAACYAQAAAAAAABMg
	AACoAQAAAAAAACAgAADkAQAAAAAAADAgAAAQAgAAAAAAAAHAAABYAQAAAAAAABHAAAAg
	AAAAAAAAABLAAABoAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/vincent/Documents/formation_latex/capsules/frame-complete-mac.png</key>
	<data>
	Ym9vayADAAAAAAQQMAAAAGQO4bglSow7PffKdL/amOpDIXVe2k/lF/5VHB6TRfyNHAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHZpbmNlbnQACQAAAAEB
	AABEb2N1bWVudHMAAAAPAAAAAQEAAGZvcm1hdGlvbl9sYXRleAAIAAAAAQEAAGNhcHN1
	bGVzFgAAAAEBAABmcmFtZS1jb21wbGV0ZS1tYWMucG5nAAAYAAAAAQYAABAAAAAgAAAA
	MAAAAEQAAABcAAAAbAAAAAgAAAAEAwAAKRICAAAAAAAIAAAABAMAAFXABQAAAAAACAAA
	AAQDAABWwAUAAAAAAAgAAAAEAwAAmf2VAAAAAAAIAAAABAMAAB2cCgEAAAAACAAAAAQD
	AABSnicBAAAAABgAAAABBgAArAAAALwAAADMAAAA3AAAAOwAAAD8AAAACAAAAAAEAABB
	uiMELQAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAEAAAA
	AAAAAAQAAAADAwAA+AEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBI
	RAgAAAAEAwAAAABoJzoAAAAIAAAAAAQAAEG3U4AqAAAAJAAAAAEBAABGM0JGNzZBRS0z
	MzkwLTM4RDctOTc1QS1GQTA1RDE1NDNGQTIYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAA
	AAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAA
	jAAAAAAAAAAFEAAADAEAAAAAAAAQEAAAPAEAAAAAAABAEAAALAEAAAAAAAACIAAACAIA
	AAAAAAAFIAAAeAEAAAAAAAAQIAAAiAEAAAAAAAARIAAAvAEAAAAAAAASIAAAnAEAAAAA
	AAATIAAArAEAAAAAAAAgIAAA6AEAAAAAAAAwIAAAFAIAAAAAAAABwAAAXAEAAAAAAAAR
	wAAAIAAAAAAAAAASwAAAbAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/vincent/Documents/formation_latex/capsules/hello.png</key>
	<data>
	Ym9vaxQDAAAAAAQQMAAAAO4hzCCbVEiKGpbGXQV8sCcSSumNCuOqA/25Sox+eXwvEAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHZpbmNlbnQACQAAAAEB
	AABEb2N1bWVudHMAAAAPAAAAAQEAAGZvcm1hdGlvbl9sYXRleAAIAAAAAQEAAGNhcHN1
	bGVzCQAAAAEBAABoZWxsby5wbmcAAAAYAAAAAQYAABAAAAAgAAAAMAAAAEQAAABcAAAA
	bAAAAAgAAAAEAwAAKRICAAAAAAAIAAAABAMAAFXABQAAAAAACAAAAAQDAABWwAUAAAAA
	AAgAAAAEAwAAmf2VAAAAAAAIAAAABAMAAB2cCgEAAAAACAAAAAQDAABPmycBAAAAABgA
	AAABBgAAoAAAALAAAADAAAAA0AAAAOAAAADwAAAACAAAAAAEAABBuiL/8gAAABgAAAAB
	AgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAEAAAAAAAAAAQAAAADAwAA
	+AEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAABo
	JzoAAAAIAAAAAAQAAEG3U4AqAAAAJAAAAAEBAABGM0JGNzZBRS0zMzkwLTM4RDctOTc1
	QS1GQTA1RDE1NDNGQTIYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAAB
	AQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAgAAAAAAAAAAFEAAA
	AAEAAAAAAAAQEAAAMAEAAAAAAABAEAAAIAEAAAAAAAACIAAA/AEAAAAAAAAFIAAAbAEA
	AAAAAAAQIAAAfAEAAAAAAAARIAAAsAEAAAAAAAASIAAAkAEAAAAAAAATIAAAoAEAAAAA
	AAAgIAAA3AEAAAAAAAAwIAAACAIAAAAAAAABwAAAUAEAAAAAAAARwAAAIAAAAAAAAAAS
	wAAAYAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/vincent/Downloads/Printing1947_512kb.mp4</key>
	<data>
	Ym9va8gCAAAAAAQQMAAAAFAuf6R+wkxX1bUxElkIQxOa2SUmVVxOMi7KDFCjsZibxAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHZpbmNlbnQACQAAAAEB
	AABEb3dubG9hZHMAAAAWAAAAAQEAAFByaW50aW5nMTk0N181MTJrYi5tcDQAABAAAAAB
	BgAAEAAAACAAAAAwAAAARAAAAAgAAAAEAwAAKRICAAAAAAAIAAAABAMAAFXABQAAAAAA
	CAAAAAQDAABYwAUAAAAAAAgAAAAEAwAA0vwmAQAAAAAQAAAAAQYAAHwAAACMAAAAnAAA
	AKwAAAAIAAAAAAQAAEGtwlYKAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAA
	AAAIAAAABAMAAAIAAAAAAAAABAAAAAMDAAD4AQAACAAAAAEJAABmaWxlOi8vLwwAAAAB
	AQAATWFjaW50b3NoIEhECAAAAAQDAAAAAGgnOgAAAAgAAAAABAAAQbdTgCoAAAAkAAAA
	AQEAAEYzQkY3NkFFLTMzOTAtMzhENy05NzVBLUZBMDVEMTU0M0ZBMhgAAAABAgAAgQAA
	AAEACADvFwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEA
	AAAAAAAAEAAAAAQQAABkAAAAAAAAAAUQAAC8AAAAAAAAABAQAADkAAAAAAAAAEAQAADU
	AAAAAAAAAAIgAACwAQAAAAAAAAUgAAAgAQAAAAAAABAgAAAwAQAAAAAAABEgAABkAQAA
	AAAAABIgAABEAQAAAAAAABMgAABUAQAAAAAAACAgAACQAQAAAAAAADAgAAC8AQAAAAAA
	AAHAAAAEAQAAAAAAABHAAAAgAAAAAAAAABLAAAAUAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/vincent/Downloads/Printing1947_edit.mp4</key>
	<data>
	Ym9va8gCAAAAAAQQMAAAABL9pPBAx7axu+h2AvKAyzsbcF9u4vFHo1s+TErKkf7UxAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHZpbmNlbnQACQAAAAEB
	AABEb3dubG9hZHMAAAAVAAAAAQEAAFByaW50aW5nMTk0N19lZGl0Lm1wNAAAABAAAAAB
	BgAAEAAAACAAAAAwAAAARAAAAAgAAAAEAwAAKRICAAAAAAAIAAAABAMAAFXABQAAAAAA
	CAAAAAQDAABYwAUAAAAAAAgAAAAEAwAAxvwmAQAAAAAQAAAAAQYAAHwAAACMAAAAnAAA
	AKwAAAAIAAAAAAQAAEGS831IAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAA
	AAAIAAAABAMAAAIAAAAAAAAABAAAAAMDAAD4AQAACAAAAAEJAABmaWxlOi8vLwwAAAAB
	AQAATWFjaW50b3NoIEhECAAAAAQDAAAAAGgnOgAAAAgAAAAABAAAQbdTgCoAAAAkAAAA
	AQEAAEYzQkY3NkFFLTMzOTAtMzhENy05NzVBLUZBMDVEMTU0M0ZBMhgAAAABAgAAgQAA
	AAEACADvFwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEA
	AAAAAAAAEAAAAAQQAABkAAAAAAAAAAUQAAC8AAAAAAAAABAQAADkAAAAAAAAAEAQAADU
	AAAAAAAAAAIgAACwAQAAAAAAAAUgAAAgAQAAAAAAABAgAAAwAQAAAAAAABEgAABkAQAA
	AAAAABIgAABEAQAAAAAAABMgAABUAQAAAAAAACAgAACQAQAAAAAAADAgAAC8AQAAAAAA
	AAHAAAAEAQAAAAAAABHAAAAgAAAAAAAAABLAAAAUAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/vincent/Music/iTunes/iTunes Music/Music/Louis Armstrong/All-Time Greatest Hits/04 Mack The Knife.m4a</key>
	<data>
	Ym9va5gDAAAAAAQQMAAAAExWMk28fEeFAxvzdZIVFYaQpAM35D6ixD9Tjyr/AjFVlAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHZpbmNlbnQABQAAAAEB
	AABNdXNpYwAAAAYAAAABAQAAaVR1bmVzAAAMAAAAAQEAAGlUdW5lcyBNdXNpYw8AAAAB
	AQAATG91aXMgQXJtc3Ryb25nABYAAAABAQAAQWxsLVRpbWUgR3JlYXRlc3QgSGl0cwAA
	FQAAAAEBAAAwNCBNYWNrIFRoZSBLbmlmZS5tNGEAAAAkAAAAAQYAABAAAAAgAAAAMAAA
	AEAAAABQAAAAMAAAAGQAAAB8AAAAnAAAAAgAAAAEAwAAKRICAAAAAAAIAAAABAMAAFXA
	BQAAAAAACAAAAAQDAADtwAUAAAAAAAgAAAAEAwAAdHa2AAAAAAAIAAAABAMAAGCAtgAA
	AAAACAAAAAQDAAAOhbYAAAAAAAgAAAAEAwAAxY22AAAAAAAIAAAABAMAAMaNtgAAAAAA
	CAAAAAQDAADKjbYAAAAAACQAAAABBgAA6AAAAPgAAAAIAQAAGAEAACgBAAA4AQAASAEA
	AFgBAABoAQAACAAAAAAEAABBsF8ZAgAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAA
	AAAAAAAACAAAAAQDAAAHAAAAAAAAAAQAAAADAwAA+AEAAAgAAAABCQAAZmlsZTovLy8M
	AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAABoJzoAAAAIAAAAAAQAAEG3U4AqAAAA
	JAAAAAEBAABGM0JGNzZBRS0zMzkwLTM4RDctOTc1QS1GQTA1RDE1NDNGQTIYAAAAAQIA
	AIEAAAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7/
	//8BAAAAAAAAABAAAAAEEAAAvAAAAAAAAAAFEAAAeAEAAAAAAAAQEAAAtAEAAAAAAABA
	EAAApAEAAAAAAAACIAAAgAIAAAAAAAAFIAAA8AEAAAAAAAAQIAAAAAIAAAAAAAARIAAA
	NAIAAAAAAAASIAAAFAIAAAAAAAATIAAAJAIAAAAAAAAgIAAAYAIAAAAAAAAwIAAAjAIA
	AAAAAAABwAAA1AEAAAAAAAARwAAAIAAAAAAAAAASwAAA5AEAAAAAAAAQ0AAABAAAAAAA
	AAA=
	</data>
</dict>
</plist>
