---
---

@import "{{ site.theme }}";

// I prefer the layout of the Cayman theme, but the colors of Slate.

body {
  color: #373737;
}

a {
  color: #007edf;
}

.btn {
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.5);
  border-color: rgba(0, 0, 0, 0.8);

  &:hover {
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.7);
    border-color: rgba(0, 0, 0, 0.9);
  }
}

.page-header {
  color: #000;
  background: #8B7765;
  background-image: url('../../images/Suricata.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;

  @include large {
    padding: 8rem 6rem 2rem 6rem;
  }

  @include medium {
    padding: 4rem 4rem 2rem 4rem;
  }

  @include small {
    padding: 3rem 1rem 1rem 1rem;
  }
}

.shaded {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);

  @include large {
    max-width: 52rem;
  }
}

.latex sub, .latex sup {
  text-transform: uppercase;
}

.latex sub {
  vertical-align: -0.07ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
}

.latex, .latex sub {
  font-size: 1em;
}

.latex sup {
  font-size: 0.77em;
  vertical-align: -0.5ex;
  margin-left: -0.36em;
  margin-right: -0.15em;
}

.main-content {
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #222;
  }
}
