<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/vincent/Documents/formation_latex-tmp/by-sa.pdf</key>
	<data>
	Ym9va/ACAAAAAAQQMAAAAHHqGloGbc8ZpwxpOE8jl1nVUtWzwsbB/XuDDlzyItWv7AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHZpbmNlbnQACQAAAAEB
	AABEb2N1bWVudHMAAAATAAAAAQEAAGZvcm1hdGlvbl9sYXRleC10bXAACQAAAAEBAABi
	eS1zYS5wZGYAAAAUAAAAAQYAABAAAAAgAAAAMAAAAEQAAABgAAAACAAAAAQDAAApEgIA
	AAAAAAgAAAAEAwAAVcAFAAAAAAAIAAAABAMAAFbABQAAAAAACAAAAAQDAACZ/ZUAAAAA
	AAgAAAAEAwAAJa4SAQAAAAAUAAAAAQYAAJAAAACgAAAAsAAAAMAAAADQAAAACAAAAAAE
	AABBugMq5wAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAD
	AAAAAAAAAAQAAAADAwAA+AEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
	aCBIRAgAAAAEAwAAAABoJzoAAAAIAAAAAAQAAEG3U4AqAAAAJAAAAAEBAABGM0JGNzZB
	RS0zMzkwLTM4RDctOTc1QS1GQTA1RDE1NDNGQTIYAAAAAQIAAIEAAAABAAgA7xcAAAEA
	CAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAE
	EAAAdAAAAAAAAAAFEAAA4AAAAAAAAAAQEAAADAEAAAAAAABAEAAA/AAAAAAAAAACIAAA
	2AEAAAAAAAAFIAAASAEAAAAAAAAQIAAAWAEAAAAAAAARIAAAjAEAAAAAAAASIAAAbAEA
	AAAAAAATIAAAfAEAAAAAAAAgIAAAuAEAAAAAAAAwIAAA5AEAAAAAAAABwAAALAEAAAAA
	AAARwAAAIAAAAAAAAAASwAAAPAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/vincent/Documents/formation_latex/Copyright.pdf</key>
	<data>
	Ym9va9QCAAAAAAQQMAAAADvPqoVVrzwFwbQTS6Ys0blU1QxpoN1MPBFuqDWjkBQr3AEA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHZpbmNlbnQACQAAAAEBAABEb2N1bWVudHMA
	AAAPAAAAAQEAAGZvcm1hdGlvbl9sYXRleAANAAAAAQEAAENvcHlyaWdodC5wZGYAAAAU
	AAAAAQYAAAQAAAAUAAAAJAAAADgAAABQAAAACAAAAAQDAAApEgIAAAAAAAgAAAAEAwAA
	VcAFAAAAAAAIAAAABAMAAFbABQAAAAAACAAAAAQDAACZ/ZUAAAAAAAgAAAAEAwAA+mXr
	AAAAAAAUAAAAAQYAAIQAAACUAAAApAAAALQAAADEAAAACAAAAAAEAABBuc/NXAAAABgA
	AAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAADAAAAAAAAAAQAAAAD
	AwAA+AEAAAwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAIIg9OgAAAAgAAAAABAAA
	QbdTgCoAAAAkAAAAAQEAAEYzQkY3NkFFLTMzOTAtMzhENy05NzVBLUZBMDVEMTU0M0ZB
	MhgAAAABAgAAgQAAAAEACADvFwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEF
	AAAEAAAAAwMAAAAIACjAAAAA/v///wEAAAAAAAAADwAAAAQQAABoAAAAAAAAAAUQAADU
	AAAAAAAAABAQAAAAAQAAAAAAAEAQAADwAAAAAAAAAAIgAAC8AQAAAAAAABAgAAA8AQAA
	AAAAABEgAABwAQAAAAAAABIgAABQAQAAAAAAABMgAABgAQAAAAAAACAgAACcAQAAAAAA
	ADAgAADIAQAAAAAAAAHAAAAgAQAAAAAAABHAAAAUAAAAAAAAABLAAAAwAQAAAAAAABDQ
	AADQAQAAAAAAAA==
	</data>
	<key>/Users/vincent/Documents/formation_latex/frame-mactex.png</key>
	<data>
	Ym9va9QCAAAAAAQQMAAAAK8BGdRJgKBou39iur0nIdKrXzVC+Mf3DbUZz1pSYw9O3AEA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHZpbmNlbnQACQAAAAEBAABEb2N1bWVudHMA
	AAAPAAAAAQEAAGZvcm1hdGlvbl9sYXRleAAQAAAAAQEAAGZyYW1lLW1hY3RleC5wbmcU
	AAAAAQYAAAQAAAAUAAAAJAAAADgAAABQAAAACAAAAAQDAAApEgIAAAAAAAgAAAAEAwAA
	VcAFAAAAAAAIAAAABAMAAFbABQAAAAAACAAAAAQDAACZ/ZUAAAAAAAgAAAAEAwAALX7s
	AAAAAAAUAAAAAQYAAIQAAACUAAAApAAAALQAAADEAAAACAAAAAAEAABBudEO+QAAABgA
	AAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAADAAAAAAAAAAQAAAAD
	AwAA+AEAAAwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAIIg9OgAAAAgAAAAABAAA
	QbdTgCoAAAAkAAAAAQEAAEYzQkY3NkFFLTMzOTAtMzhENy05NzVBLUZBMDVEMTU0M0ZB
	MhgAAAABAgAAgQAAAAEACADvFwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEF
	AAAEAAAAAwMAAAAIACjAAAAA/v///wEAAAAAAAAADwAAAAQQAABoAAAAAAAAAAUQAADU
	AAAAAAAAABAQAAAAAQAAAAAAAEAQAADwAAAAAAAAAAIgAAC8AQAAAAAAABAgAAA8AQAA
	AAAAABEgAABwAQAAAAAAABIgAABQAQAAAAAAABMgAABgAQAAAAAAACAgAACcAQAAAAAA
	ADAgAADIAQAAAAAAAAHAAAAgAQAAAAAAABHAAAAUAAAAAAAAABLAAAAwAQAAAAAAABDQ
	AADQAQAAAAAAAA==
	</data>
	<key>/Users/vincent/Documents/formation_latex/frame-readme.png</key>
	<data>
	Ym9va9QCAAAAAAQQMAAAAEal3Kv6Ijk1sKc5++lt0BGjNTiqhdfF5RUeCS4DnP7K3AEA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHZpbmNlbnQACQAAAAEBAABEb2N1bWVudHMA
	AAAPAAAAAQEAAGZvcm1hdGlvbl9sYXRleAAQAAAAAQEAAGZyYW1lLXJlYWRtZS5wbmcU
	AAAAAQYAAAQAAAAUAAAAJAAAADgAAABQAAAACAAAAAQDAAApEgIAAAAAAAgAAAAEAwAA
	VcAFAAAAAAAIAAAABAMAAFbABQAAAAAACAAAAAQDAACZ/ZUAAAAAAAgAAAAEAwAAdoLs
	AAAAAAAUAAAAAQYAAIQAAACUAAAApAAAALQAAADEAAAACAAAAAAEAABBudESBQAAABgA
	AAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAADAAAAAAAAAAQAAAAD
	AwAA+AEAAAwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAIIg9OgAAAAgAAAAABAAA
	QbdTgCoAAAAkAAAAAQEAAEYzQkY3NkFFLTMzOTAtMzhENy05NzVBLUZBMDVEMTU0M0ZB
	MhgAAAABAgAAgQAAAAEACADvFwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEF
	AAAEAAAAAwMAAAAIACjAAAAA/v///wEAAAAAAAAADwAAAAQQAABoAAAAAAAAAAUQAADU
	AAAAAAAAABAQAAAAAQAAAAAAAEAQAADwAAAAAAAAAAIgAAC8AQAAAAAAABAgAAA8AQAA
	AAAAABEgAABwAQAAAAAAABIgAABQAQAAAAAAABMgAABgAQAAAAAAACAgAACcAQAAAAAA
	ADAgAADIAQAAAAAAAAHAAAAgAQAAAAAAABHAAAAUAAAAAAAAABLAAAAwAQAAAAAAABDQ
	AADQAQAAAAAAAA==
	</data>
	<key>/Users/vincent/Movies/Camtasia 2/Temporary Recordings/Rec 09-21-14 2.trec</key>
	<data>
	Ym9vawQDAAAAAAQQMAAAANpu+1zwVtfPTRX/wHWqyiRrzao/H2tUJzwvjKc1RGKZDAIA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHZpbmNlbnQABgAAAAEBAABNb3ZpZXMAAAoA
	AAABAQAAQ2FtdGFzaWEgMgAAFAAAAAEBAABUZW1wb3JhcnkgUmVjb3JkaW5ncxMAAAAB
	AQAAUmVjIDA5LTIxLTE0IDIudHJlYwAYAAAAAQYAAAQAAAAUAAAAJAAAADQAAABIAAAA
	ZAAAAAgAAAAEAwAAKRICAAAAAAAIAAAABAMAAFXABQAAAAAACAAAAAQDAADrwAUAAAAA
	AAgAAAAEAwAARCVnAAAAAAAIAAAABAMAAEUlZwAAAAAACAAAAAQDAAB6+OUAAAAAABgA
	AAABBgAAoAAAALAAAADAAAAA0AAAAOAAAADwAAAACAAAAAAEAABBuc9DOgAAABgAAAAB
	AgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAEAAAAAAAAAAQAAAADAwAA
	+AEAAAwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAIIg9OgAAAAgAAAAABAAAQbdT
	gCoAAAAkAAAAAQEAAEYzQkY3NkFFLTMzOTAtMzhENy05NzVBLUZBMDVEMTU0M0ZBMhgA
	AAABAgAAgQAAAAEACADvFwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAAAE
	AAAAAwMAAAAIACjAAAAA/v///wEAAAAAAAAADwAAAAQQAACAAAAAAAAAAAUQAAAAAQAA
	AAAAABAQAAAwAQAAAAAAAEAQAAAgAQAAAAAAAAIgAADsAQAAAAAAABAgAABsAQAAAAAA
	ABEgAACgAQAAAAAAABIgAACAAQAAAAAAABMgAACQAQAAAAAAACAgAADMAQAAAAAAADAg
	AAD4AQAAAAAAAAHAAABQAQAAAAAAABHAAAAUAAAAAAAAABLAAABgAQAAAAAAABDQAAAA
	AgAAAAAAAA==
	</data>
	<key>/Users/vincent/Movies/Camtasia 2/Temporary Recordings/Rec 09-23-14 2.trec</key>
	<data>
	Ym9vawQDAAAAAAQQMAAAADVyum2idIObrGEK3ISA9t8d+Y3ziokxfY7mI9wFjD40DAIA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHZpbmNlbnQABgAAAAEBAABNb3ZpZXMAAAoA
	AAABAQAAQ2FtdGFzaWEgMgAAFAAAAAEBAABUZW1wb3JhcnkgUmVjb3JkaW5ncxMAAAAB
	AQAAUmVjIDA5LTIzLTE0IDIudHJlYwAYAAAAAQYAAAQAAAAUAAAAJAAAADQAAABIAAAA
	ZAAAAAgAAAAEAwAAKRICAAAAAAAIAAAABAMAAFXABQAAAAAACAAAAAQDAADrwAUAAAAA
	AAgAAAAEAwAARCVnAAAAAAAIAAAABAMAAEUlZwAAAAAACAAAAAQDAABxEe0AAAAAABgA
	AAABBgAAoAAAALAAAADAAAAA0AAAAOAAAADwAAAACAAAAAAEAABBudI6FwAAABgAAAAB
	AgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAEAAAAAAAAAAQAAAADAwAA
	+AEAAAwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAIIg9OgAAAAgAAAAABAAAQbdT
	gCoAAAAkAAAAAQEAAEYzQkY3NkFFLTMzOTAtMzhENy05NzVBLUZBMDVEMTU0M0ZBMhgA
	AAABAgAAgQAAAAEACADvFwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAAAE
	AAAAAwMAAAAIACjAAAAA/v///wEAAAAAAAAADwAAAAQQAACAAAAAAAAAAAUQAAAAAQAA
	AAAAABAQAAAwAQAAAAAAAEAQAAAgAQAAAAAAAAIgAADsAQAAAAAAABAgAABsAQAAAAAA
	ABEgAACgAQAAAAAAABIgAACAAQAAAAAAABMgAACQAQAAAAAAACAgAADMAQAAAAAAADAg
	AAD4AQAAAAAAAAHAAABQAQAAAAAAABHAAAAUAAAAAAAAABLAAABgAQAAAAAAABDQAAAA
	AgAAAAAAAA==
	</data>
</dict>
</plist>
